ul{
    list-style-type:none;
    align-self:center;
}

a{
    text-decoration:none;
}




ul li{
    float:left;
    margin-left:2px;
}

ul li a{
    text-transform:uppercase;
}




ul.nav{
    display:block;
}

a.nav{
    color:blueviolet;
    font-weight:bold;
}

li.nav{
    background-color:gray;
}




.clickable{
    cursor:pointer;
}

.minSpace{
    margin:5px 5px 5px 5px;
}

.minInerSpace{
    padding:5px;
}

